table {
    border-spacing: 0;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:10px;
}
th, td {
    border: 1px solid #000;
    padding: 0.5em 1em;
    font-size: 0.7em;
}
th {
    background-color: #3a80ba;
    color : white;
}
thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;
}
thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
}
tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
}
tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
}